name: docker-build

on:
  push:
    branches: ["main"]
    paths: ["Dockerfile"]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  platforms: linux/amd64, linux/arm64

jobs:
  build:
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v6.0.0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.7.0
        with:
          platforms: ${{ env.platforms }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3.11.1
        with:
          platforms: ${{ env.platforms }}

      - name: Define tag
        shell: bash
        run: |
          echo "version=$(grep -Po '__version__\s*=\s*"\K[0-9.]+' unifi_adguard_client_sync.py)-${{ github.run_number }}" >> $GITHUB_ENV

      - name: Extract metadata for image
        id: meta
        uses: docker/metadata-action@v5.9.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=${{ env.version }}

      - name: Login to Registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6.18.0
        with:
          file: "Dockerfile"
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: ${{ env.platforms }}
          push: true
          provenance: false